$base-font-family: 'Noto Sans', sans-serif;
$light-color: #f8f8ff;
$text-color: #303030;
$line-height: 1.5;
$font-weight: 400;
$dark-color: #494784;
$action-color: #535bf2;
$accent-color: #c3d9ed;

//$light-color
//$dark-color
//$action-color
